.mainfooter{
    font-family: "Montserrat", sans-serif;
    background: #f6d3bb;
    color: rgb(246, 246, 249);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #030303;
    padding:1rem;
}


ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: white;
}
.mainfooter ul li:hover{
    color: orange;
    font-size: 18px;
}
h6{
    text-decoration: underline;
    padding-bottom: 5px;
    text-align: center;
}
.footer-icons{
    display: flex;
    gap: 2rem;
}

h4,h5,li,.footer-icons{
    text-align: center;
}
.copyright-div{
    background-color:orange;
    color: rgb(0, 1, 1);
}
@media (max-width: 800px) {
   .mainfooter{
    display: block;
    margin: 0 auto;
   }

   .footer-icons{
    justify-content: center;
}
  }