.mainfooter{
    font-family: "Montserrat", sans-serif;
    background: #f6d3bb;
    color: rgb(1, 1, 2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9ece1;
}
.footer-container{
    position: relative;
    top:3rem;
}

ul{
    list-style: none;
}
.mainfooter ul li:hover{
    color: orange;
    font-size: 18px;
}
h6{
    text-decoration: underline;
    padding-bottom: 5px;
    text-align: center;
}
.footer-icons{
    display: flex;
    gap: 2rem;
}

h4,li,.footer-icons{
    text-align: center;
}
.copyright-div{
    background-color:orange;
    color: rgb(0, 1, 1);
}
@media (max-width: 800px) {
   .mainfooter{
    display: block;
    margin: 0 auto;
   }
   .footer-icons{
    justify-content: center;
}
  }